/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
  @import 'bootstrap';
  
.headerJumbo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1461183479101-6c14cd5299c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}

.navbar {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
}

h1 {
  margin: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  justify-content: center;
  margin: 20px;
}

.app-uses {
  margin: auto;
  text-align: center;
  list-style-position: inside;
}

.leaflet-container {
    height: 450px;
    width: 600px;
}
.mapView h2 {
  text-align: center;
  margin: 30px;
  font-size: 40px;
}  
.map {
  display: flex;
  justify-content: center;
}
.mapUl {
  max-width: 350px;
  margin: auto;
}
.mapUl li {
  list-style-position: inside;
  display: list-item;
  list-style-image: url('../../javascript/images/map-img.png') !important;
  padding-left: 5px !important;
}
img {
  max-width: 100%;
  height: auto;
}

.card {
  width: 300px;
}

.logger {
  position: absolute;
  right: 10px;
}
.userForm {
  margin: 25px auto;
  max-width: 400px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.61); 
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.61);
}
.userForm h2 {
  text-align: center;
}
.center-text {
  text-align: center;
}

.dropDown button {
  width: 100%;
}
.landmarkBtn {
  position: relative;
  bottom: 10px;
}
.readMoreBtn {
  width: 100%;
  background-color: #007bff;
    border-color: #007bff;
}
.readMoreBtn:hover {
      background-color: #0069d9;
    border-color: #0062cc;
}
.dropDown {
  width: 100%;
}
.dropDown p {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  background-color: transparent;
  border: 0;
}
.landmarksWalks {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.cardComp .card-header {
  display: flex;
  justify-content: space-between;
}
.cardComp {
  height: auto;
  align-self: flex-start;
}
.cardImg {
  max-width: 100%;
  border-radius: calc(0.25rem - 1px)
}
.landmarksWalks .cardComp, .about-us .cardComp {
  width: 450px;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.61); 
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.61);
}
.landmarksWalks .cardComp {
  width: 400px;
  min-height: 650px;
}
.landmarksWalks .cardComp img {
  width: 400px;
  height: 350px;
}
//TODO change the above style once all pictures are resized in the database
.textHide {
  height: 150px;
  overflow: hidden;
}
.cardComp .card-text{
  padding: 20px 10px 10px;
}
.cardComp .card-header {
  font-size: 20px;
}
.walkBtn {
  width: 100%;
  margin-bottom: 10px;
  
}
.footer {
  text-align: center;
  background-color: #f8f9fa;
  padding: 10px;
  font-size: 12px;
}

.carousel {
  margin: auto;
}

@media (max-width: 2000px) {
    .carousel {
      max-width: 100%;
      height: auto;
    }
}

.about-us {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.about-us .cardComp {
  width: 250px;
}

.alert, .notice {
  position: absolute;
  top: 56px;
  right: 10px;
}

.imgCap {
  background-color: rgba(77, 77, 77, .8);
  margin: 0 22%;
  border-radius: 20px;
  padding: 0;
}

.headshot-p {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background-image: url(https://media.licdn.com/dms/image/C4E03AQH3j2pFYZps_g/profile-displayphoto-shrink_200_200/0?e=1571270400&v=beta&t=gZXRZYPrjdE-j1QvqLeGmQU3CdL2qROoQzFFkKsEoW4);
  background-repeat: no-repeat;
  transition: .5s;
}

.headshot-p:hover {
  background-image: url(https://i.pinimg.com/236x/09/d8/07/09d8072271a1a8cf07bdd3915a6cfef9--white-chicken-betty-white.jpg);
}

.headshot-a {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background-image: url(https://media.licdn.com/dms/image/C5603AQFef8bsUp04kA/profile-displayphoto-shrink_200_200/0?e=1571270400&v=beta&t=5oqpSsT6JAYnfFFSnA5L1pmscLyWypCmahEFZUAZIAM);
  background-repeat: no-repeat;
  transition: .5s;
}

.headshot-a:hover {
  background-image: url(https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/0015/2373/brand.gif?itok=KaKRCAqj);
}

.headshot-e {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background-image: url(https://media.licdn.com/dms/image/C4E03AQFxZ_ekOUjaIQ/profile-displayphoto-shrink_200_200/0?e=1571270400&v=beta&t=__XG0UH3AbDWO9EY3lnujYqMxFPgXPbxyjZa9oHl3uE);
  background-repeat: no-repeat;
  transition: .5s;
}

.headshot-e:hover {
  background-image: url();
}

.headshot-j {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background-image: url(https://media.licdn.com/dms/image/C4E03AQF1oNYv0RDPYg/profile-displayphoto-shrink_200_200/0?e=1571270400&v=beta&t=2sQnTfkaqpsl5cJcfEn4q0gu9h6pDUdoj59UoMeiprM);
  background-repeat: no-repeat;
  transition: .5s;
}

.headshot-j:hover {
  background-image: url(https://i2.wp.com/hawaiianshirtdude.com/wp-content/uploads/2018/05/tom-selleck-final-1.jpg?resize=200%2C200&ssl=1);
}

.banner {
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(https://lh3.googleusercontent.com/sYDXx7zVrm-5kYo_aMREYFA76mRpkxthlgjxkPYJwwVlhwGgu80T1ZIKb6vho1OnLAG-pBQ0AbOvIoN3Aup130jGHbSUDadXm7E=w2500-h1250-rw-no);
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner h2 {
  font-size: 100px;
}

.banner-lm {
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(https://lh3.googleusercontent.com/sYDXx7zVrm-5kYo_aMREYFA76mRpkxthlgjxkPYJwwVlhwGgu80T1ZIKb6vho1OnLAG-pBQ0AbOvIoN3Aup130jGHbSUDadXm7E=w2500-h1250-rw-no);
  width: 100%;
  height: 400px;
}

.banner-lm h1 {
  font-size: 100px;
}

.banner-gt {
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(https://lh3.googleusercontent.com/sYDXx7zVrm-5kYo_aMREYFA76mRpkxthlgjxkPYJwwVlhwGgu80T1ZIKb6vho1OnLAG-pBQ0AbOvIoN3Aup130jGHbSUDadXm7E=w2500-h1250-rw-no);
  width: 100%;
  height: 400px;
}

.banner-gt h1 {
  font-size: 100px;
}

.banner-f {
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(https://lh3.googleusercontent.com/sYDXx7zVrm-5kYo_aMREYFA76mRpkxthlgjxkPYJwwVlhwGgu80T1ZIKb6vho1OnLAG-pBQ0AbOvIoN3Aup130jGHbSUDadXm7E=w2500-h1250-rw-no);
  width: 100%;
  height: 400px;
}

.banner-f h1 {
  font-size: 100px;
}